{% extends 'main/index.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card text-light bg-dark" style="width: 50%; margin: calc((100%/2) - 33%) auto; min-height: 400px;">
        <div class="card-body lh-lg">
            <h2 class="card-text fw-bolder">{{ webinar.title }}</h2>
            {% if webinar.sub_heading %}
            <div class="card-subheader fs-3">{{ webinar.sub_heading }}</div>
            {% endif %}
            <div class="card-text">
                <i class="bi bi-calendar-week"></i>
                {{ webinar.event_on.date }}
            </div>
            <div class="card-text">
                <i class="bi bi-alarm"></i>
                {{ webinar.event_on.time }}
            </div>
            <div class="card-text">Rs.
                {% if webinar.cost == '0' %}
                    Free
                {% else %}
                    {{ webinar.cost }}
                {% endif %}
            </div>
            <div class="card-text">{{ webinar.instructor }}</div>
            <div class="card-text d-flex flex-row">
                <div class="mx-2">
                    <i class="bi bi-hand-thumbs-up" style="cursor: pointer" data-id="{{ webinar.id }}"
                       onclick="upVote(this)"></i>
                    <span>{{ webinar.up_vote }}</span>
                </div>
                <div class="mx-2">
                    <i class="bi bi-hand-thumbs-down" style="cursor: pointer" data-id="{{ webinar.id }}"
                                   onclick="downVote(this)"></i>
                    <span>{{ webinar.down_vote }}</span>
                </div>
            </div>
            <a href="{% url 'main:booking' webinar.id %}">
                <button class="btn btn-warning p-3 mt-2 border-0 rounded-pill">
                    Book Your Seat
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
