.Card {
    justify-content: center;
    margin-top: 100px;
    display: flex;
}

.Card button {
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
}

.Card > div {
    box-sizing: border-box;
    padding: 30px;
    height: 400px;
    background-color: salmon;
    width: 500px;
}

.Title {
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    padding: 20px 0;
    font-size: 1.8rem;
}

.Info div {
    margin: 10px 10px;
    font-size: 20px;
}

.Vote {
    border: 1px solid black;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #eeeaea;
    cursor: pointer;
}
